body {
    margin: 0;
    background: #000;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

main {
    height: 100vh;
}

/* ================= HERO ================= */

.hero {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background:
        radial-gradient(circle at center,
        #202020 0%,
        #111111 40%,
        #000000 100%);

    padding: 0px 5%;
}

.hero-content {
    max-width: 1000px;
    text-align: center;
}

.hero-tag {
    display: inline-block;
    padding: 10px 18px;
    border: 1px solid rgba(255,255,255,.15);
    border-radius: 50px;
    color: #f59a2c;
    font-size: 14px;
    margin-bottom: 30px;
}

.hero h1 {
    color: #fff;
    font-size: clamp(50px,8vw,120px);
    line-height: 1;
    font-weight: 600;
    margin-bottom: 25px;
}

.hero p {
    color: #a8a8a8;
    font-size: 22px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 40px;
}

.hero-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 220px;
    height: 60px;

    border-radius: 60px;

    background: #f59a2c;
    color: #000;

    text-decoration: none;
    font-weight: 600;

    transition: .3s;
}

.hero-btn:hover {
    transform: translateY(-3px);
}

/* ================= VIDEO SECTION ================= */

.asic-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: #000;
}

/* WRAPPER (center + resize only) */
.asic-section .video-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100vw;
    height: 100vh;

    transform: translate(-50%, -50%);

    overflow: hidden;

    will-change: width, height, border-radius;

    transition:
        width 0.9s cubic-bezier(0.87, 0, 0.13, 1),
        height 0.9s cubic-bezier(0.87, 0, 0.13, 1),
        border-radius 0.9s cubic-bezier(0.87, 0, 0.13, 1);
}

/* FINAL RESIZE STATE */
.asic-section .video-wrapper.shrink {

    width:min(90vw,1000px);
    height:min(60vh,500px);

    border-radius:24px;
}


/* VIDEO */
.asic-section .asic-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ================= CONTENT ================= */

.asic-section .asic-content {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 40px);

    width: 100%;
    text-align: center;

    opacity: 0;

    transition: opacity 0.4s ease, transform 0.4s ease;
}

.asic-section .asic-content.show {
    opacity: 1;
    transform: translate(-50%, 0);
}

.asic-section .asic-title {
    color: #ff9800;
    font-size: 72px;
    font-weight: 300;
    margin: 0;
}

/* ================= TABS ================= */

.asic-section .asic-tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
}

.asic-section .tab {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #f59a2c;
    background: transparent;
    cursor: pointer;
    font-size: 0;
}

.asic-section .tab.active {
    background: #f59a2c;
}

/* tabber css start from here  */
.asic-section .asic-title,
.asic-section .asic-video{
    transition:
        transform .8s cubic-bezier(.22,.61,.36,1),
        opacity .8s ease;
}


/* end here */


/* packing section css start from here  */
.packaging-section{
    position:relative;
    min-height:100vh;
    height:clamp(700px,100vh,1200px);
    overflow:hidden;
    background:#000;
}

/* FULLSCREEN STATE */

.packaging-section .packaging-video-wrapper{
    position:absolute;

  
    left:50%;
    top:50%;

    width:100vw;
    height:100vh;

    transform:translate(-50%,-50%);

    overflow:hidden;

    transition:
        width .9s cubic-bezier(.87,0,.13,1),
        height .9s cubic-bezier(.87,0,.13,1),
        border-radius .9s cubic-bezier(.87,0,.13,1);
}

/* FINAL SHRUNK STATE */
.packaging-section .packaging-video-wrapper.shrink{
    width:min(48vw,700px);
    height:min(60vh,500px);
    left:72%;
    top:58%;
    transform:translate(-48%,-50%);
}
.packaging-section .packaging-video{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:
    transform .8s cubic-bezier(.22,.61,.36,1),
    opacity .8s ease;

}

/* LEFT CONTENT */

.packaging-section .packaging-content{

    position:absolute;

    left:6%;
    top:50%;

    width:min(32%,520px);

    opacity:0;

    z-index:5;

    transform:translateY(-50%) translateX(-60px);

    transition:
    opacity .6s ease,
    transform .6s ease;
    /* will-change: transform, opacity; */
}

.packaging-section .packaging-content.show{
    opacity:1;
    transform:translateY(-50%) translateX(0);
}

.packaging-section .packaging-title{
    color:#f59a2c;
    font-size:clamp(48px,5vw,90px);
    font-weight:300;
    line-height:1;
    margin-bottom:30px;
}

.packaging-section .packaging-desc{
    color:#fff;
    font-size:clamp(16px,1.2vw,24px);
    line-height:1.5;
}

.packaging-section .packaging-tabs{
    align-items: center;
    justify-content: flex-end;
    

    display:flex;
    gap:16px;
    flex-wrap:wrap;
}

.packaging-section .packaging-video-area {
    padding: 90px 30px 0px 30px;
}

.packaging-section .pack-tab{

    padding:14px 28px;

    border:1px solid #f59a2c;

    background:transparent;

    color:#fff;

    cursor:pointer;
}

.packaging-section .pack-tab.active{
    background:#f59a2c;
    color:#000;
}

.packaging-section .packaging-content,
.packaging-section .packaging-video-wrapper{
    opacity:0;
    visibility:hidden;
    pointer-events:none;

    transition:.5s ease;
}

.packaging-section .packaging-content.active{
    opacity:1;
    visibility:visible;
    pointer-events:auto;
    z-index: 1;
}

.packaging-video-wrapper.active{
    opacity:1;
    visibility:visible;
    pointer-events:auto;
    z-index:5;
}

.packaging-video-wrapper{
    z-index:0;
}


.packaging-section .packaging-video-wrapper{
    width:100vw;
    height:100vh;
    will-change: width,height,left,top;
    transition:
        width .9s cubic-bezier(.87,0,.13,1),
        height .9s cubic-bezier(.87,0,.13,1),
        border-radius .9s cubic-bezier(.87,0,.13,1),
        transform .8s ease,
        opacity .8s ease;
}

.packaging-section .packaging-video-wrapper.shrink{

    width:min(48vw,700px);
    height:min(60vh,500px);

    /* left:72%;
    top:58%; */

    border-radius:24px;
}

.packaging-video{
    will-change: transform, opacity;
}
/* end here  */



/* third section css start from here */
.mtk-capabilities{
    position:relative;
    background:#000;
    overflow:hidden;
    padding:
    clamp(60px,8vw,120px)
    clamp(20px,6vw,120px);
}



.slider-wrapper{
    position:relative;
    min-height:650px;
    overflow:hidden;
}

.cap-slide{
    position:absolute;
    inset:0;

    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:clamp(30px,5vw,100px);

    opacity:0;
    visibility:hidden;

    transform:translateX(120px) scale(.96);

    transition:
        opacity .9s cubic-bezier(.22,.61,.36,1),
        transform .9s cubic-bezier(.22,.61,.36,1);

    pointer-events:none;
}

.cap-slide.active{
    opacity:1;
    visibility:visible;

    transform:translateX(0) scale(1);

    pointer-events:auto;
    z-index:2;
}

/* read more text css start from here */
.more-text{
    display:none;
}

.more-text.show{
    display:inline;
}

.read-more-btn{
    margin-top:20px;
    background:none;
    border:none;
    padding:0;

    color:#f59a2c;
    cursor:pointer;

    font-size:clamp(16px,1vw,20px);
    font-weight:500;
}

/* slide leaving */
.cap-slide.prev-slide{
    opacity:0;
    transform:translateX(-120px) scale(.96);
    z-index:1;
}

.cap-left{
    flex:1;
    max-width:650px;
}

.cap-left h2{
    color:#f59a2c;
    font-weight:300;
    line-height:1.05;

    font-size:
    clamp(48px,5vw,92px);

    margin-bottom:40px;
}

.cap-left h4{
    color:#d4832b;

    font-size:
    clamp(18px,1.4vw,28px);

    margin-bottom:20px;
}

.cap-left p{
    color:#fff;

    font-size:
    clamp(16px,1.1vw,22px);

    line-height:1.5;

    max-width:600px;
}

.cap-left a{
    display:inline-block;
    margin-top:40px;

    color:#f59a2c;
    text-decoration:none;

    font-size:
    clamp(18px,1.3vw,28px);
}

.cap-right{
    flex:1;

    display:flex;
    justify-content:center;
}

.cap-right img{
    width:100%;
    max-width:700px;
    border-radius:32px;
}

.slider-arrow {
    position: absolute;
    top: 38%;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background: #1c1c1c;
    color: #fff;
    cursor: pointer;
    z-index: 10;
    
}

.prev{
    left:20px;
}

.next{
    right:20px;
}

.slider-dots{
    display:none;
  
}

.slider-dots span{
    width:10px;
    height:10px;

    border-radius:50%;

    background:#666;
}

.slider-dots span.active{
    background:#f59a2c;
}

/* end here */

/* last section css start from here */
section.last-sec {
    padding: clamp(60px, 8vw, 120px) clamp(20px, 6vw, 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px 30px;
}

section.last-sec .upper-sec {
    text-align: center;
}

.cap-cards{
    width:min(1600px,90%);
    margin:auto;

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:clamp(15px,2vw,30px);
}

.cap-card{
    background:#050505;
    border-radius:18px;
    border:1px solid rgba(255,152,0,.15);

    padding:24px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    min-height:170px;

    transition:.4s ease;
}

.cap-card.active{
    min-height:280px;
}

.cap-card-header{
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content:space-between;
}

.cap-card h3{
    color:#ff9800;
    font-size:clamp(18px,1.3vw,30px);
    line-height:1.25;
    font-weight:400;
    margin:0;
}

.cap-toggle{
    align-self:flex-end;

    color:#ff9800;
    font-size:36px;
    line-height:1;

    cursor:pointer;
    transition:.4s ease;
}

.cap-card.active .cap-toggle{
    transform:rotate(45deg);
}

.cap-content{
    max-height:0;
    overflow:hidden;
    opacity:0;

    transition:
        max-height .5s ease,
        opacity .4s ease,
        margin-top .4s ease;
}

.cap-card.active .cap-content{
    max-height:200px;
    opacity:1;
    margin-top:20px;
}

.cap-content p{
    color:#fff;
    font-size:16px;
    line-height:1.7;
    margin:0;
}

.upper-sec img {
    max-width: 100%;
}


/* end here */

/* ================= RESPONSIVE ================= */

/* Responsive */

@media (width<=1500px)
{
    .slider-arrow {
        display: none;
    }

    .slider-dots{
        display:flex;
        justify-content:center;
        gap:12px;
    
        margin-top:20px;
    }
}

@media(max-width:1200px){

    .cap-cards{
        grid-template-columns:repeat(2,1fr);
    }

}

@media (width<=1024px)
{
    .cap-slide {
        flex-direction: column-reverse;
    }

    .cap-left h2
    {
        font-size: 30px;
    }

    

.cap-right {
  
    min-height: 300px;
  
}
}

@media (max-width:991px){

  
    .packaging-section .packaging-content{

        width:90%;
        left:50%;
        top:130px;

        text-align:center;

        transform:translateX(-50%) !important;
    }

    .packaging-section .packaging-title{
        font-size:48px;
    }

    .packaging-section .packaging-desc{
        font-size:18px;
    }

    .packaging-section .packaging-tabs{
        justify-content:center;
        margin-bottom:40px;
    }

    .packaging-section .packaging-video-wrapper.shrink{

        width:90vw;
        height:50vh;

        left:50%;
        top:72%;

        transform:translate(-50%,-50%);
    }
}

@media (max-width: 767px) {

    .packaging-section .packaging-title {
        
        font-size: clamp(36px, 5vh, 90px);
    }

    .cap-cards{
        grid-template-columns:1fr;
    }

    .cap-card{
        min-height:auto;
    }

    .packaging-section .packaging-video-wrapper {
        
        top: 39%;
        
    }   

    .hero h1{
        font-size: 2.3em;
    }

    .packaging-section .packaging-video-area {
        padding: 60px 30px 0px 30px;
    }

    .asic-section .asic-title {
        font-size:clamp(36px, 4vh, 90px);
    }

 
}

@media screen and (width<=500px)
{
        .packaging-section .packaging-content {
            top: 188px;
       
    }
}

@media (width<=475px)
{
    .packaging-section .packaging-video-wrapper.shrink{       
        top:77%;       
    }
}

/* height css Start from here */

@media (max-height:900px){

    .packaging-section .packaging-title{
        font-size:clamp(50px, 6vh, 90px);
        margin-bottom:20px;
    }

    .packaging-section .packaging-desc{
        font-size:16px;
    }

    .packaging-section .packaging-video-wrapper.shrink{
        width:min(45vw,650px);
        height:min(55vh,420px);
    }

}

@media (max-height:768px){

    .packaging-section .packaging-title{
        font-size:clamp(36px, 4vh, 50px);
        margin-bottom:15px;
    }

    .packaging-section .packaging-desc{
        font-size:15px;
        line-height:1.4;
    }

    .packaging-section .packaging-video-wrapper.shrink{
        width:min(72vw,600px);
        height:min(48vh,350px);
    }

    .packaging-section .packaging-tabs{
        gap:10px;
    }

    .packaging-section .pack-tab{
        padding:10px 18px;
        font-size:13px;
    }
}

